<header class="site-header">
  <div class="site-header-inner">
    <a class="site-logo" href="<%= url_for('/') %>"><%= config.title || config.author || 'Home' %></a>
    <button id="main-nav-toggle" class="site-nav-toggle" type="button" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars" aria-hidden="true"></span>
    </button>
    <nav class="site-nav" aria-label="Primary">
      <ul class="site-nav-list">
        <li class="site-nav-item"><a href="<%= url_for('/') %>">Home</a></li>
        <li class="site-nav-item"><a href="<%= url_for('/about/') %>">About</a></li>
        <li class="site-nav-item"><a href="<%= url_for('/guestbook/') %>">Guestbook</a></li>
        <li class="site-nav-item"><a href="<%= url_for('/photos/') %>">Photos</a></li>
        <li class="site-nav-item"><a href="<%= url_for('/search/') %>">Search</a></li>
      </ul>
    </nav>
    <button class="nav-search-btn" type="button" aria-label="Open search">
      <span class="fa fa-search" aria-hidden="true"></span>
    </button>
  </div>
  <div id="search-form-wrap">
    <form action="https://www.google.com/search" method="get" accept-charset="UTF-8" class="search-form">
      <input type="search" name="q" class="search-form-input" placeholder="Search this site">
      <button type="submit" class="search-form-submit" aria-label="Submit search">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <input type="hidden" name="sitesearch" value="<%= config.url || config.root || '/' %>">
    </form>
  </div>
</header>
